*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body{
    background: #eee;
}
.heading{
     color: #444;
     font-size: 40px;
     text-align: center;
     padding: 10px;
}
.videoContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}
.videoContainer .main_video{
background: #fff;
border-radius: 5px;
padding: 10px;
}
.videoContainer .main_video video{
   width: 100%; 
   border-radius: 5px;
}
.videoContainer .main_video .title{
color: #333;
font-size: 23px;
padding-top: 15px;
padding-bottom: 15px;
}
.videoContainer .video_list{
     background: #fff;
     border-radius: 5px;
     height: 600px;
     overflow-y: scroll;
}
.videoContainer .video_list::-webkit-scrollbar{
       width: 7px; 
}
.videoContainer .video_list::-webkit-scrollbar-track{
    background: #ccc;
    border-radius: 50px;
}
.videoContainer .video_list::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 50px;
}

.videoContainer .video_list .vid_thumb video{
    width: 100px;
    border-radius: 5px;
}

.videoContainer .video_list .vid_thumb{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.videoContainer .video_list .vid_thumb:hover{
    background: #eee;
}


.videoContainer .video_list .vid_thumb.active{
background:#2980b9;
}

.videoContainer .video_list .vid_thumb.active .title{
    color: #fff;
}
.videoContainer .video_list .vid_thumb .title{
    color: #333;
    font-size: 17px;
}
@media(max-width:991px){
    .videoContainer{ 
        grid-template-columns: 1.5fr 1fr;
        padding: 10px;
    }
}
@media(max-width:768px){
    .videoContainer{ 
        grid-template-columns: 1fr;
    }
}





